/* COLOR SCHEME:
https://color.adobe.com/Laboratory-color-theme-1458895/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Laboratory&mode=rgb&rgbvalues=1,0.997345,0.987654,0.885302,0.89,0.874462,0.317918,0.357094,0.37,0.179049,0.197427,0.2,0.79264,0.95,0&swatchOrder=0,1,2,3,4
----------------------------------------------------------------------------------------------------
https://color.adobe.com/Inspired-by-Material-Design-02-color-theme-5110898/edit/?copy=true


#03A9F4 - Charles Color
2E3233
*/

/*FONTS */
@font-face {
  font-family:'neoteric';
  src: url('../fonts/NEOTERICcBold.ttf') format('truetype')
}
@font-face {
  font-family:'righteous';
  src: url('../fonts/Righteous.ttf') format('truetype')
}
@font-face {
  font-family:'architext';
  src: url('../fonts/Architex.ttf') format('truetype')
}
@font-face {
  font-family:'domestic';
  src: url('../fonts/domestic.ttf') format('truetype')
}


/* Main container - Global */

.comingSoonCont{
  background-color:#03A9F4;
  color:#E0E0E0;
}

.comingSoonCont p {
  font-family:'domestic';
  color:#F44569;
  font-size:250%;
}
/*
.contactCont {
  background-color:#01579B;
  border-radius: 25px;
}
*/
.contactCont h1 {
  font-family:'neoteric';
  color:#F44569;
  font-size:250%
}

.contactCont h2 {
  font-family:'neoteric';
  color:#1F5C9B;
}

.contactCont input[type="text"], textarea {
  color:#2C3E50;
}


.navHeader {
  font-family:'neoteric';
  color:#CAF200;
}

/* Styles for different Headings */
.headingCenter {
  text-align:center;
  margin:20px;
}

.headingLeft {
  text-align:left;
  margin:20px;
}

.headingRight {
  text-align:right;
  margin:20px;
}

/* Styling Image*/
.centerImg{
  margin: 0 auto;
}

.rightImg{
 right:0px; 
}
/* -------------------------- */



body {
  background-color:#FFFEFC;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.contMarg {
  margin-top:100px;
}

.smallContMarg {
  padding: 20px;
}

.logo-col{
  float: none;
  margin: 75 auto;
  padding: 75 px;
}

.btn-custom { background-color: hsl(195, 79%, 48%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3fbee8", endColorstr="#19aadb"); background-image: -khtml-gradient(linear, left top, left bottom, from(#3fbee8), to(#19aadb)); background-image: -moz-linear-gradient(top, #3fbee8, #19aadb); background-image: -ms-linear-gradient(top, #3fbee8, #19aadb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fbee8), color-stop(100%, #19aadb)); background-image: -webkit-linear-gradient(top, #3fbee8, #19aadb); background-image: -o-linear-gradient(top, #3fbee8, #19aadb); background-image: linear-gradient(#3fbee8, #19aadb); border-color: #19aadb #19aadb hsl(195, 79%, 45.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16); -webkit-font-smoothing: antialiased; }

.card { 
  margin:auto; 
  margin-top:5px;
  background-color:#FFFFFF; 
  border-radius:25px; 
  color:#000000; 
  border:1px solid #d8d8d8; 
  padding:10px;
  margin:2px;
  text-align:left; 
  font-size:10pt;
  position:relative; 
  /* decide out of the two below which one you prefer, I like the 0.3, u decide*/ 
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3); 
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15); }

.card h1, h2 {
  font-family:'neoteric';
  color:#1F5C9B;
}

/* Footer stuff */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin-top:5px;
  padding-bottom:5px;
  /* Set the fixed height of the footer here */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
/* Footer END */